<div class="container body-content span=8 offset=2">
    <div class="well">
        <form class="form-horizontal" method="POST" action="/groups/editBet/{{bet.id}}">
            <fieldset>
                <legend>Прогноза за група {{bet.group.name}}</legend>

                <div class="form-group">
                    <label class="col-sm-4 control-label" for="articleTitle">{{bet.group.team1}}</label>
                    <div class="col-sm-4 ">
                        <input type="number" class="form-control" placeholder="прогноза" name="position1" value="{{bet.position1}}" required >
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="articleTitle">{{bet.group.team2}}</label>
                    <div class="col-sm-4 ">
                        <input type="number" class="form-control" placeholder="прогноза" name="position2" value="{{bet.position2}}" required >
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="articleTitle">{{bet.group.team3}}</label>
                    <div class="col-sm-4 ">
                        <input type="number" class="form-control" placeholder="прогноза" name="position3" value="{{bet.position3}}" required >
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="articleTitle">{{bet.group.team4}}</label>
                    <div class="col-sm-4 ">
                        <input type="number" class="form-control" placeholder="прогноза" name="position4" value="{{bet.position4}}" required >
                    </div>
                </div>
                <!--<div class="form-group">-->
                    <!--<label class="col-sm-4 control-label" for="articleContent">Content</label>-->
                    <!--<div class="col-sm-6">-->
                        <!--<textarea class="form-control" id="articleContent" rows="5" name="content" required></textarea>-->
                    <!--</div>-->
                <!--</div>-->

                <div class="form-group">
                    <div class="col-sm-4 col-sm-offset-4">
                        <!--<button type="reset" class="btn btn-default">Отказ</button>-->
                        <a class="btn btn-default" href="/">Отказ</a>
                        <button type="submit" class="btn btn-primary">Добави</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
